{% extends 'base.html.twig' %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{% block body %}
    <h1>Début du meilleur site ever</h1>


{% endblock %}

{% block title %} {{ parent() }} | Home {% endblock %}