header{
    margin-bottom: 100px;
}
body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    color: white;
}

.container {
    padding: 20px;
}

header img{

    width: 20%;
    height: 30%;
}

